header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.home_illustration {
  width: 40%;
  height: 40rem;
  background-image: url('../svg/figure_2.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card_illustration {
  width: 36rem;
  height: 36rem;
  background-image: url('../svg/figure_1.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  transition: all 0.5s ease-out;
}

.btn {
  border: 0;
  font-size: inherit;
  font-family: inherit;
}

.input {
  border: 0;
  font-size: inherit;
  font-family: inherit;
}

.input:focus {
  outline: 0;
}

.btn:focus {
  outline: 0;
}

.link {
  text-decoration: none;
  color: #0272a2;
}

.lbl {
  opacity: 1;
  color: #0272a2;
  padding-left: 0.4rem;
  transform: translateY(0);
  transition: transform 0.2s ease-out;
}

.login {
  border: 2px solid rgb(46, 46, 46);
  width: 40%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.4rem;
  border-radius: 0.6rem;
  position: relative;
  transition: all 0.5s ease-out;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.show_password {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.input {
  border-bottom: 2px solid rgb(29, 29, 29);
  padding: 0.8rem 0.8rem 0 0.4rem;
}

.input:placeholder-shown ~ .lbl {
  opacity: 0;
  transform: translateY(3.6rem);
}

.username,
.password {
  display: flex;
  flex-direction: column-reverse;
}

.login_btn {
  width: fit-content;
  border-radius: 0.8rem;
  padding: 0.8rem 2.4rem;
  background-color: #0272a2;
  color: white;
}

.link_container {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 1.8rem;
  color: gray;
}

.header.remove .home_illustration {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}
.header.remove .login {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}
